@page "/Input"

@using genFurikomiTesuuryo.Data
@inject MyService MyService

<h1>Input data</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<br>
<button class="btn btn-primary" @onclick="read">read json</button>
<br>
<span style='color: red;'>debug: @debug</span>
@code {
    private int currentCount = 0;
    private string debug = "";
    private void IncrementCount()
    {
        //currentCount++;
        //forecasts = await Http.GetJsonAsync<WeatherForecast[]>("sample-data/weather.json");
        //MyService.MyServiceHellow();
        MyService.Write("increment_sw on");
        debug = "increment_sw on";
    }
    private void read(){
        debug = "read_json on";    
        MyService.ReadJson();    
    }
}

